body {
  font-family: 'Fira Sans', sans-serif;
  color: #000;
}

.jumbotron {
  min-height: 300px;
  background-color: white;
  background-image: url(../images/header.jpg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
/*  background-position: 50% 90%;*/
  background-size: contain;
}

.top-bar {
  margin-bottom: 0;
  border-radius: 0 !important;
}

.navbar {
/*  margin-bottom: 1em;*/
}

.navbar-brand {
  padding-right: 0.5em;
}

.navbar-nav .nav-link {
  padding-right: 0.1em;
  padding-left: 0.1em;
}

.nav-item {
  color: #405064;
  font-size: 1.4em;
}

.main-content {
  padding-top: 1em;
}

.gallery {
  margin-top: 2em;
}

.thumbnail img {
  height: 100%;
  cursor: pointer;
}

.thumbnail:hover {
  opacity: 0.8;
}

.ekko-lightbox-nav-overlay a span {
  color: #405064;
}

.bio {
  margin: 0em 0em 2em 0em;
  font-size: 1.1rem;
}

.about {
  margin-top: 2em;
  margin-bottom: 2em;
}

.about img {
  width: 100%;
  padding: 0.5em;
}

.footer {
  margin-top: 1em;
}

.portfolio-menu {
  margin-bottom: 2em;
}

.portfolio-menu img {
  padding: 1em 0em 1em 0em;
}

.portfolio-link a {
  color: #000;
}

.portfolio-link:hover h3 {
  text-decoration: none;
/*  font-weight: bold;*/
}


/*

.caption {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: ivory;
  background-color: lightcoral;
  width: 100%;
  height: 100%;
  font-size: 3em;
}

.text {
  top: 50%;
}

.hoverable {
  transition: .5s ease;
}

.thumbnail:hover .caption {
  opacity: 0.8;
  cursor: pointer;
}
*/

